# NDI SDK headers and runtime are committed for CI builds.
# The headers are MIT-licensed. The dylib is redistributable per the NDI SDK license.

# Build output
build/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/

# Artifacts
*.dmg
*.ipa

# macOS
.DS_Store
